.item {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  &:hover {
    background-color: rgb(207, 207, 207);
  }

  .doc-name {
    margin-left: 8px;
    margin-right: 8px;
    height: fit-content;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
